legend{
    text-align: center;
    font-size: larger;
}
.center{
   margin-left: auto;
   margin-right: auto;
   height: 350px;
   width: 500px;
   /* font-size: 20px; */
   /* font-weight: 100; */
}